h1 {
    color:red;
    background-color: blue;
    font-size: 20px ;


}
h6 {

    color:green;
    font-size:50px;

}
body
{

    background-color: antiquewhite;
}

/*
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}


p.dotted{
    !*background-color: blue;*!
    border-width:thick;
   !* border-bottom-color: blueviolet;*!
    border-color: brown;
    !*border-bottom: solid;*!

}*/

p.dotted{
    border: 5px dotted indianred;
    color: blue;
    background-color: blue;

}
p.dashed{

    border: 5px dashed red;
    color: blueviolet;
    background-color: blueviolet;
}
p.solid{

    border: 5px solid green;
    background-color: green;
}
p.rdus1{

    border: 5px solid red;
    border-radius: 15px;

}
p.rdus2{

    border:5px solid green;
    border-radius:10%;
}
p.rdus3{

    border: 15px solid blue;
    border-radius: 500px;
}